@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --surface: rgba(255, 255, 255, 0.04);
  --surface-2: rgba(255, 255, 255, 0.06);
  --border: rgba(255, 255, 255, 0.12);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* kleine Quality-of-Life Defaults */
* {
  -webkit-tap-highlight-color: transparent;
}